STN_HOST=127.0.0.1
STN_PORT=4710
STN_LEGACY_PORT=4711
STN_DATA_DIR=./data
STN_WEB_ORIGIN=http://localhost:4173
STN_SEED_DEMO=true
STN_SAFE_MODE=false
STN_WEB_PORT=4173
STN_LEGACY_PUBLIC_ORIGIN=http://localhost:4711
